.nav {
  padding-left: 10px;
}

.indicator-item {
  padding: 8px;
  margin: 4px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.graph-Tips {
  border-bottom: 1px solid #ccc;
}
