.stock-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 130px;
  text-align: center;
  font-family: Arial, sans-serif;
  justify-content: space-between;
}

.stock-card__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.stock-card__graph {
  margin-bottom: 8px;
}

.stock-card__price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.stock-card__percentage {
  font-size: 16px;
}

.stock-card__percentage.positive {
  color: #00c853;
}

.stock-card__percentage.negative {
  color: #d32f2f;
}
